absl-py==0.11.0
addict==2.4.0
ahttp==1.1.1
aiohttp==3.7.3
alabaster==0.7.12
alfred==0.3
alfred-py==2.8.5
anaconda-client==1.7.2
anaconda-navigator==1.9.12
anaconda-project==0.8.3
antlr4-python3-runtime==4.8
apex==0.1
appdirs==1.4.4
argh==0.26.2
arrow==1.1.1
ase==3.21.1
asn1crypto==1.3.0
astor==0.8.1
astroid==2.3.3
astropy==4.0
astunparse==1.6.3
async-lru==1.0.2
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.3.0
audioread==2.1.9
autocfg==0.0.6
autogluon.core==0.1.0b20210221
autograd==1.3
autopep8==1.4.4
Babel==2.8.0
backcall==0.1.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bce-python-sdk==0.8.53
bcrypt==3.2.0
beautifulsoup4==4.8.2
betterproto==1.2.5
binaryornot==0.4.4
bitarray==1.2.1
bkcharts==0.2
black==21.4b2
bleach==3.1.0
blis==0.7.4
blurhash==1.1.4
bokeh==1.4.0
boost==0.1
boto==2.49.0
boto3==1.17.12
botocore==1.20.12
Bottleneck==1.3.2
bs4==0.0.1
cachetools==4.2.0
catalogue==2.0.6
cchardet==2.1.7
certifi==2019.11.28
cffi==1.14.0
cfgv==3.2.0
chardet==3.0.4
charset-normalizer==2.0.6
chumpy==0.70
click==7.1.2
cloudpickle==1.3.0
clyent==1.2.2
cma==3.0.3
cmake==3.18.4.post1
coco==0.0.0
colorama==0.4.3
colorlog==5.0.1
conda==4.8.2
conda-build==3.18.11
conda-package-handling==1.6.0
conda-verify==3.4.2
configparser==5.0.1
ConfigSpace==0.4.18
contextlib2==0.6.0.post1
cookiecutter==1.7.3
cpplint==1.5.5
cryptography==3.4.8
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.5
Cython==0.29.15
cython-bbox==0.1.3
cytoolz==0.10.1
dask==2.11.0
dataclasses==0.6
datasets==1.12.1
decorator==4.4.2
decord==0.5.2
defusedxml==0.6.0
Deprecated==1.2.11
descartes==1.1.0
detectron2==0.4
diff-match-patch==20181111
dill==0.3.4
Distance==0.1.3
distlib==0.3.1
distributed==2.11.0
distro==1.5.0
Django==2.1.4
django-appconf==1.0.2
django-cors-headers==2.4.0
django-crispy-forms==1.7.2
django-filter==2.0.0
django-formtools==2.1
dlib==19.22.0
dm-tree==0.1.5
docker-pycreds==0.4.0
docutils==0.16
easydict==1.7
entrypoints==0.3
et-xmlfile==1.0.1
evdev==1.4.0
fake-useragent==0.1.11
fastcache==1.1.0
fastcore==1.3.26
fastdownload==0.0.5
fastprogress==1.0.0
filelock==3.0.12
filterpy==1.4.5
fire==0.4.0
flake8==3.7.9
flake8-import-order==0.18.1
Flask==1.1.1
Flask-Babel==2.0.0
flatbuffers==1.12
fsspec==2021.8.1
funcsigs==1.0.2
funcy==1.15
future==0.18.2
fvcore==0.1.5.post20210402
g2p-en==2.1.0
g2pM==0.1.2.5
gast==0.3.3
gevent==1.4.0
gitdb==4.0.5
GitPython==3.1.11
glob2==0.7
gluoncv==0.6.0
gmpy2==2.0.8
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
googledrivedownloader==0.4
graphviz==0.8.4
greenlet==0.4.15
grpcio==1.32.0
grpclib==0.4.1
gunicorn==20.1.0
h2==4.0.0
h5py==2.10.0
HeapDict==1.0.1
hpack==4.0.0
html5lib==1.0.1
huggingface-hub==0.0.17
hydra-core==1.1.0.dev7
hyperframe==6.0.1
hypothesis==5.5.4
identify==2.1.0
idna==2.8
imagecorruptions==1.1.2
imageio==2.4.1
imageio-ffmpeg==0.4.3
imagesize==1.2.0
imgaug==0.4.0
importlib-metadata==2.1.1
importlib-resources==5.1.2
imutils==0.5.4
inflect==5.3.0
insightface==0.2.1
intervaltree==3.0.2
iopath==0.1.7
ipdb==0.13.7
ipykernel==5.1.4
ipython==7.23.1
ipython_genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.18.0
jeepney==0.4.2
jieba==0.42.1
Jinja2==2.11.1
jinja2-time==0.2.0
jmespath==0.10.0
joblib==0.14.1
json-tricks==3.15.5
json5==0.9.1
jsonlines==2.0.0
jsonpatch==1.31
jsonpointer==2.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.1
jupyterlab==1.2.6
jupyterlab-server==1.0.6
kafka-python==2.0.2
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==21.1.0
kiwisolver==1.1.0
lap==0.4.0
lazy-object-proxy==1.4.3
libarchive-c==2.8
librosa==0.7.0
lief==0.9.0
llvmlite==0.31.0
lmdb==1.1.1
locket==0.2.0
loguru==0.5.3
lxml==4.5.0
Mako==1.1.3
Markdown==3.3.3
MarkupSafe==1.1.1
Mastodon.py==1.5.1
matplotlib==3.3.3
matplotlib-inline==0.1.2
mccabe==0.6.1
mediapipe==0.8.3.1
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mmcv==0.6.2
mmcv-full==1.3.4
mmpycocotools==12.0.3
mock==4.0.1
more-itertools==8.2.0
motmetrics==1.2.0
MouseInfo==0.1.3
moviepy==1.0.3
mpmath==1.1.0
msgpack==0.6.1
multidict==5.1.0
multipledispatch==0.6.0
multiprocess==0.70.12.2
munch==2.5.0
munkres==1.1.4
murmurhash==1.0.5
mypy-extensions==0.4.3
natsort==7.1.1
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==5.0.4
netron==4.6.7
networkx==2.4
ninja==1.10.2
nltk==3.4.5
nodeenv==1.5.0
nose==1.3.7
notebook==6.0.3
numba==0.47.0
numexpr==2.7.1
numpy==1.21.4
numpydoc==0.9.2
nuscenes-devkit==1.1.2
oauthlib==3.1.0
objgraph==3.5.0
olefile==0.46
omegaconf==2.1.0.dev27
onnx==1.8.1
onnx-simplifier==0.3.5
onnxoptimizer==0.2.6
onnxruntime==1.8.0
opencv-contrib-python==4.5.2.54
opencv-python==4.2.0.32
opendr==0.78
openpifpaf==0.12.9
openpyxl==3.0.3
opt-einsum==3.3.0
packaging==21.0
paddle2onnx==0.5.1
paddlehub==2.1.0
paddleocr==2.0.6
paddlepaddle-gpu==2.2.0
pandas==0.23.4
pandocfilters==1.4.2
paramiko==2.7.2
parse==1.19.0
parso==0.8.2
partd==1.1.0
pascal-voc-writer==0.1.4
path==13.1.0
pathlib==1.0.1
pathlib2==2.3.5
pathspec==0.8.1
pathtools==0.1.2
pathy==0.6.0
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
pkginfo==1.5.0.1
playsound==1.3.0
pluggy==0.13.1
ply==3.11
Polygon3==3.0.9.1
portalocker==2.2.1
poyo==0.5.0
ppgan==0.1.3
praatio==4.4.0
pre-commit==2.10.1
preshed==3.0.5
prettytable==2.1.0
proglog==0.1.9
progress==1.5
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==3.0.3
protobuf==3.14.0
psutil==5.6.7
ptyprocess==0.6.0
py==1.8.1
py-cpuinfo==8.0.0
pyaes==1.6.1
pyaml==20.4.0
pyarrow==5.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
PyAutoGUI==0.9.52
pyclipper==1.2.1
pycocotools @ git+https://github.com/cocodataset/cocoapi.git@8c9bcc3cf640524c4c20a9c40e89cb6a2f2fa0e9#subdirectory=PythonAPI
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycryptodome==3.10.1
pycuda==2021.1
pycurl==7.43.0.5
pydantic==1.8.2
pydocstyle==4.0.1
pydot==1.4.2
pydub==0.25.1
pyee==8.1.0
pyflakes==2.1.1
pygame==2.0.1
PyGetWindow==0.0.9
Pygments==2.5.2
PyJWT==2.3.0
pylint==2.4.4
PyMsgBox==1.0.9
PyMySQL==0.10.1
PyNaCl==1.4.0
pynput==1.7.5
pyodbc===4.0.0-unsupported
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyperclip==1.8.2
pypinyin==0.41.0
pyppeteer==0.2.5
PyQt5-Qt==5.15.2
PyQt5-sip==12.8.1
pyquaternion==0.9.9
pyquery==1.4.3
PyRect==0.1.4
Pyrogram==1.2.19
pyrsistent==0.15.7
PyScreeze==0.1.26
PySocks==1.7.1
pysparkling==0.6.1
pytesseract==0.3.7
pytest==5.3.5
pytest-arraydiff==0.3
pytest-astropy==0.8.0
pytest-astropy-header==0.1.2
pytest-benchmark==3.4.1
pytest-doctestplus==0.5.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-dateutil==2.8.1
python-json-logger==2.0.1
python-jsonrpc-server==0.3.4
python-language-server==0.31.7
python-Levenshtein==0.12.2
python-louvain==0.15
python-magic==0.4.22
python-slugify==5.0.2
python3-xlib==0.15
pytools==2020.4.4
pyttsx3==2.90
PyTweening==1.0.3
pytz==2021.1
PyWavelets==1.1.1
pyxdg==0.26
PyYAML==5.4.1
pyzmq==18.1.1
QDarkStyle==2.8
qrcode==6.1
QtAwesome==0.6.1
qtconsole==4.6.0
QtPy==1.9.0
rarfile==4.0
rdflib==5.0.0
regex==2020.11.13
reprod-log==1.0.0
requests==2.26.0
requests-html==0.10.0
requests-oauthlib==1.3.0
resampy==0.2.2
rope==0.16.0
rouge==1.0.0
rouge-score==0.0.4
rsa==4.6
Rtree==0.9.3
ruamel.yaml.clib==0.2.2
ruamel_yaml==0.15.87
s3transfer==0.3.4
sacrebleu==2.0.0
sacremoses==0.0.45
scikit-build==0.11.1
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.6.3
seaborn==0.10.0
SecretStorage==3.1.2
Send2Trash==1.5.0
sentencepiece==0.1.95
sentry-sdk==0.19.5
seqeval==1.2.2
Shapely==1.7.1
sharedmem==0.3.8
shellcheck-py==0.7.1.1
shortuuid==1.0.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.15.0
smart-open==5.2.1
smmap==3.0.4
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
sounddevice==0.4.3
SoundFile==0.10.3.post1
soupsieve==1.9.5
sox==1.4.1
spacy==3.1.2
spacy-legacy==3.0.8
spark-parser==1.8.9
Sphinx==2.4.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.2.0
spyder==4.0.1
spyder-kernels==1.8.1
SQLAlchemy==1.3.13
srsly==2.4.1
statsmodels==0.11.0
stringcase==1.2.0
subprocess32==3.5.4
sympy==1.5.1
tables==3.6.1
tabulate==0.8.9
tblib==1.6.0
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.7.0
tensorboardX==2.1
tensorflow-estimator==2.4.0
tensorflow-probability==0.11.0
tensorrt==7.1.3.4
termcolor==1.1.0
terminado==0.8.3
terminaltables==3.1.0
testpath==0.4.4
text-unidecode==1.3
texttable==1.6.3
TgCrypto==1.2.2
thinc==8.0.10
thop==0.0.31.post2005241907
threadpoolctl==2.2.0
tifffile==2021.3.4
timm==0.1.20
tokenizers==0.9.4
toml==0.10.2
toolz==0.10.0
torch==1.7.1
torch-geometric==1.7.0
torch-scatter==2.0.6
torch-sparse==0.6.9
torch2trt-dynamic==0.3.0
torchfile==0.1.0
torchvision==0.8.2
tornado==6.0.3
tqdm==4.62.2
traitlets==4.3.3
typed-ast==1.4.3
typer==0.3.2
typing-extensions==3.7.4.3
ujson==1.35
uncompyle6==3.7.4
unicodecsv==0.14.1
Unidecode==1.2.0
urllib3==1.25.8
virtualenv==20.4.2
visdom==0.1.8.9
visualdl==2.1.1
w3lib==1.22.0
wandb==0.10.12
wasabi==0.8.2
watchdog==0.10.2
wcwidth==0.1.8
webencodings==0.5.1
webrtcvad==2.0.10
websocket-client==0.58.0
websockets==8.1
wechaty==0.8.3
wechaty-grpc==0.20.19
wechaty-puppet==0.3.dev10
wechaty-puppet-service==0.7.dev8
Werkzeug==1.0.0
widgetsnbextension==3.5.1
wrapt==1.12.1
wurlitzer==2.0.0
x2paddle==1.2.0
xdis==5.0.13
xgboost==1.3.3
xlrd==1.2.0
XlsxWriter==1.2.7
xlwt==1.3.0
xmltodict==0.12.0
xxhash==2.0.2
yacs==0.1.8
yapf==0.26.0
yarl==1.6.3
zhtts==0.0.1
zict==1.0.0
zipp==2.2.0
